.container {
  color: white;
  background-color: #222;
}

.main {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgb(0 0 0/ 85%),
      rgb(0 0 0/ 50%),
      rgb(0 0 0/ 40%),
      rgb(0 0 0/ 60%),
      rgb(0 0 0 / 85%)
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/87a1d9d8-a21d-4109-ba3a-c10d9055f5cf/2341e349-a6fc-4b04-a0ad-9b21defa1f88/IN-en-20220307-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.mainheading {
  font-size: 60px;
  margin: 0px;
  letter-spacing: 2px;
  line-height: 75px;
  font-weight: bold;
}

.subheading {
  font-weight: normal;
  font-size: 25px;
  margin-top: 10px;
  letter-spacing: 1px;
}

.para {
  font-size: 20px;
  letter-spacing: 0px;
}

.getstarted-container {
  width: 750px;
  display: grid;
  grid-template-columns: 68% 32%;
  justify-content: center;
  align-items: center;
}

.emailinput {
  width: 100%;
  height: 62px;
  padding: 0px 12px 0px;
  border: 1px solid black;
  font-size: 15px;
  letter-spacing: 1px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.startbutton {
  padding: 0px;
  width: 100%;
  height: 62px;
  font-size: 28px;
  letter-spacing: 2px;
  text-align: center;
  color: white;
  background-color: red;
  border: 1px solid red;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.chevron {
  height: 18px;
  width: 18px;
  margin: 0px 0px 0px 5px;
}

.containers {
  background-color: #010100;
  padding: 70px 45px;
  height: auto;
}

.containers-content {
  display: flex;
  flex-basis: 50%;
  margin: 0px 164.2px;
  justify-content: center;
  align-items: center;
}

.containers-heading {
  font-size: 50px;
  letter-spacing: 1px;
  margin: 0px;
}

.containers-description {
  font-size: 27px;
  letter-spacing: 0px;
}

.container-images {
  width: 100%;
  height: 40%;
  z-index: 2;
}

.container-indiv{
  flex-basis: 50%;
  position: relative;
}

.image-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-text{
  margin-right: 50px;
}

.container-videos{
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(40px) translateX(15px) scale(0.8);
}